<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ImageSegmentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<ImageSegmentation.Properties.Settings>
   <setting name="ThemeId" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="w" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="h" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="AutoSave" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Save2Txt" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="InitDir" serializeAs="String">
    <value>"D:\\AllPositionW\\5\\Groove\\bin\\Debug\\net8.0-windows10.0.22000.0\\2025-04-13"</value>
   </setting>
   <setting name="IsSketchImg" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsSaveDir" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DarkTheme" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MaxF" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="ModelIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ScalarIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NumClasses" serializeAs="String">
    <value>80</value>
   </setting>
  </ImageSegmentation.Properties.Settings>
	</userSettings>
</configuration>